name: Java CI with Maven using Github-Actions
run-name: ${{github.actor}} is trying to learn Github-Actions
on:
  push:
    branches:
      - github-actions
  pull_request:
    branches:
      - github-actions
jobs:
  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build with Maven
      run: mvn -B package --file pom.xml
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
